{
	acme_dns cloudflare {env.CF_API_TOKEN}
}

nas.equuss.org {
	reverse_proxy 10.2.22.254:5000
}

btcbot.equuss.org {
	reverse_proxy 10.2.22.250:9100
}

vkanban.equuss.org {
	reverse_proxy 10.2.23.101:1099
}

pkm-dav.equuss.org {
	reverse_proxy pkm-webdav:6065
}
